body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.container{
    text-align: center;
}
h1{
    background-color: #222;
    color: #fff;
    padding: 16px;
    margin-bottom: 24px;
    border-radius: 10px;
    font-size: 32px;
}
.color{
    color: #49a6e9;
}
.btn{
    background-color: transparent;
    padding: 8px;
    border: 2px solid #222;
    font-size: 16px;
    letter-spacing: 1.5px;
    color:  #222;
    border-radius: 5px;
    transition: 0.3s ease-out;
}
.btn:hover{
    background-color: #222;
    color: #fff;
    transition: 0.3s ease-in;
}